/* Style global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #263e56;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Conteneur principal */
div {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre principal */
h1 {
  font-size: 2.1rem;
  color: #391fa0;
  margin-bottom: 20px;
}

/* Boutons */
button {
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #2a21d0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0aab25;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

button.decrement {
  background-color: #2a21d0;
}

button.decrement:hover {
  background-color: #d51a1a;
}

/* Espace entre les boutons */
button + button {
  margin-left: 15px;
}

/* Conteneur du composant enfant */
.child-component {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Texte dans le composant enfant */
.child-component p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #271c1c;
}
.new-inp{
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;   
    border: 1px solid #ddd;
    white: 200px;
    margin-right: 10px;
  
}